.cardSize{
    width:8rem;
    height: 100px;
    border: 1 solid black !important;
}
.subCards{
    width: 100% !important;
    display: flex;
    justify-content: space-between;
}
.imageSize{
    width: 100% !important;
}

.BoardHolder{
    width:100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}