.cardSize{
    width:30%;
    height: 200px;
}
.subCards{
    width: 100% !important;
    display: flex;
    justify-content: space-between;
}
.cardCover{
    width: 100% !important;
}
.BoardHolder{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}