.contain{
 margin: 0 0 0 0!important;
 padding: 0 0 0 0!important;
}
.mainCont{
    width: 100%!important;
    background-image: url("../assets/Path1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    /* overflow:auto; */
    margin:auto;
}
.content{
    width:100% !important;
    display: flex;
    /* flex-wrap: wrap;
    flex-direction: row; */
    justify-content: space-around!important;
    margin:50px auto;
}
.video{
    width:420px;
    height: 320px;;
}
.prom-text{
    /* width: 50%; */
    font-weight:400!important;
}
span{
    color: var(--darkblue);
}
.disc{
    font-size: 30px;
    color: var(--darkblue);
}
.toolTip{
    display: flex;
    justify-content: space-between;
    width:85%;
    background-color: white;
    padding: 5px;
    border-radius: 30px;
}
.callButton{
    background-color: var(--darkblue);
    color: white;
    font-size: 20px;
    width: 50px;
    height:50px;
    border:none;
    border-radius: 35px;
    font-weight: bolder;
}
.toolTipText{
    line-height: 15px;
    display: inline;
    font-size: 12.5px;
    font-weight: 600;
}
#toolTipTextOne{
    color: var(--lightdark);
    margin: 3px auto 0 auto;
}
#toolTipTextTwo{
    margin: 0;
}
.loginBtn{
    font-weight: 500;
    text-decoration: none;
    color:white;
}
.loginBtn:hover{
    color:white;
}
.getStarted{
    background-color: var(--darkblue);
    border:none;
    border-radius: 25px;
    width:40%;
} 
.howItWorks{
text-align: center;
}
.howItWorks p{
    font-size: 12px;
    color: var(--lightdark);
    box-sizing: border-box!important;
}
.instructions{
    width: 100%;
    padding-left: 50px;
    padding-right: 10px;
    background-image: url("../assets/Component1.svg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 0;
    box-sizing: border-box!important;
}
.createAccount{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    text-align: left;
    margin-top: 40px;
}
.createAccount h5{
    display: inline;
}
.accountInstruction{
    width:30%;
    height: fit-content;
    margin-top: 100px;
    padding: 3px;    
   
}
.subdiv{
 border: 1px solid var(--lightdark);
 padding: 10px;
 border-radius: 15px;
 margin-top: 10px;
 text-align: left!important;
}
.billboard{
float: left;
}
.otherInstructions{
    background-image: url("../assets/Component3.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position:1160px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
    width:100%;
    height: auto;
}
.Holder{
    width:30%;
    padding: 3px;
    text-align: right; 
}
.Holder2{
    width:30%;
    padding: 3px;
    text-align: left;
    margin-top: 150px; 
}
.footerContent{
    width: 100%;
    background-image: url("../assets/background.png");
}
.formHolder{
    display: flex;
    justify-content: space-around;
}
.poster{
    width: 40%;
}
.posterImg{
    width: 100%;
}
.contactForm{
    width: 40%;
    margin-top: 80px;
    padding: 10px;
    text-align: right;
}
.formContact{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.formTitle{
    margin-bottom: 30px!important;
}
.Submit{
    padding:10px;
    background-color: var(--darkblue);
    border:none;
    border-radius: 25px;
    color:white;
    width:100%;
    font-weight: 500;
}