body {
  width:100%;
  margin: 0;
  font-family: 'poppins';
  box-sizing: border-box!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --lightblue:#c5e7e4d2;
  --strongblue:#249D92;
  --dark:#0101038c;
  --darkblue:#008C7F;
  --lightdark:#00010a80;
}